.images-container{
    /* width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap; */
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); 
    grid-auto-rows: 10px; 
    gap: 10px;
}
.image-container{
    width: fit-content;
    height: fit-content;
}
.first{
    width: 10rem;
    height: 9rem;
    border-radius: 1.5rem;

    /* break-inside: avoid;
    width: 100%; */
}
.second{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.third{    
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}

.image-container:nth-of-type(4) img{
    width: 10rem;
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(5)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(6)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(7) img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(8)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(9)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(10)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(11)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}
.image-container:nth-of-type(12)  img{
    width: 10rem;
    height: 9rem;
    /* break-inside: avoid;
    width: 100%; */
    border-radius: 1.5rem;
}

